<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tails.highthon">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/app_logo"
            android:label="Hunny Pot"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".view.ui.activity.MainActivity">
        </activity>
        <activity android:name=".view.ui.activity.CreateGroupActivity">
        </activity>
        <activity android:name=".view.ui.activity.ContentWriteActivity">
        </activity>
        <activity android:name=".view.ui.activity.ContentDetailActivity">
        </activity>
        <activity android:name=".view.ui.activity.GroupDetailActivity">
        </activity>
        <activity android:name=".view.ui.activity.GroupDetailJoinActivity">
        </activity>
        <activity android:name=".view.ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>